// Hayley's code
.landingPage-banner {
    background-image: url('../images/BarneyBrewsterBanner.jpg');
    background-size: cover;
    height: 30vh;
}

.filterDropdown {
    justify-content: center;
    background-color: $secondary;
    padding-top: 20px;
    padding-bottom: 20px;
}

.filterInputGroup {
    border-radius: 20px;
}

#artsDeck {
    display: flex;
    height: auto;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.artcard {
    width: 450px;
    height: 700px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    border: none;
}

.artcard-title {
    height: 56px;
    margin-right: 50px;
}

.artcard-body {
    padding-right: 30px;
    padding-left: 30px;
}

.artcard-columnwrap {
    display: flex;
    justify-content: space-between;
}

.artcard-description {
    height: 72px;
    overflow: hidden;
    text-align: justify;
}

.art-image {
    border: none;
    max-height: 300px;
    max-width: 449px;
    height: auto;
    width: auto;
    border-radius: 50px;
}

.artcard-link {
    color: black;
    text-decoration: underline;
}

.artcard-category {
    color: $primary;
}

.noResultText-wrapper {
    position: absolute;
    width: 80vw;
    height: 40vh;
}

.noResultText {
    position: relative;
    top: 20%;
    left: 35%;
}
// Hayley's code ends

// Yanas code
.nav-border{
  border-bottom: 4px solid $blue;
  width: 100%;
}
