// Hayley's code
.landingPage-banner {
    background-image: url('../images/BarneyBrewsterBanner.jpg');
    background-size: cover;
    height: 30vh;
}

.filterDropdown {
    justify-content: center;
    background-color: $secondary;
    padding-top: 20px;
    padding-bottom: 20px;
}

.filterInputGroup {
    border-radius: 20px;
}

// Hayley's code ends