// buttons
// yanas code

.btn-font{
    text-align: center;
  	font-family:'Quicksand', sans-serif;
    font-weight: 700;
}

.nav-font{
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
}

.radius{
  border-radius: 50px !important;
}

.border{
  border-width: 2px !important;
  border-radius: 50px !important;
}

// background colours

//Yanas code ends
// Hayley's code
.logo {
  width: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 1rem;
  height: 10%;
}

.nav {
  width: 300px;
  justify-content: space-evenly;
}

.button {
  // padding: 6px 15px;
  cursor: pointer;
  color: white;
  // width: 80px;
  // height: 36px;
  // background-color: $primary;
  text-align: center;
}

.signUpButton {
  background-color: $gray-dark;
  padding: 6px 15px;
  border-radius: 8px;
  width: 90px;
}

.signInButton {
  padding: 6px 15px;
  cursor: pointer;
}

// Hayley's code ends
