// Yanas code


.container-form{
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  width: 70%;
  @media (max-width: 900px) {
    width: 100%;
}
}

.form-box{
  background-color: white;
  height: 85vh;
  margin: 0 auto;
  width: 60%;
  @media (max-width: 900px) {
    width: 100%;
}
}


.bg-page{
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  overflow: hidden;
	z-index: -2;
}

// background image for upload project form
.bg-upload{
  background-image: url("../images/KateLeslie_HolidaySeries1.jpg");
}

// background image for sign up page
.bg-register{
  background-image: url("../images/KateLeslie_HolidaySeries2.jpg");
}

// Yanas code ends

// Hayley's code

.portfolioCard {
  width: 390px;
  height: 400px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
  border: none;
}

.portfolioPage-image {
  background-color: $grey-light;
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

#myProjectCards {
  display: flex;
  height: auto;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.portfolioPage-buttonsWrapper {
  display: flex;
  justify-content: space-between;;
}

.portfolioPage-buttonGroup {
  display: flex;
  width: 42%;
  justify-content: space-between;
}

.noPortfolio {
  width: 100%;
  font-size: x-large;
  margin-bottom: 8rem;
}

// Hayley's code ends
