#viewMorePage-artInfo {
    width: 100vw;
    border-top: $primary 4px solid;
    padding-top: 3rem;
    padding-right: 10vw;
    padding-left: 10vw;
}

.viewMore-photoBackground {
    display: flex;
    justify-content: center;
    align-content: center;

    background-color: $grey-light;
    margin-top: 2rem;
}

.viewMore-mainPhoto {
    max-width: 70vw;
    height: auto;
}

.viewMore-endBoarder {
    padding-bottom: 2rem;
    border-bottom: lightgrey 2px solid;
}

.viewMorePage-commentsWrapper {
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 100%;
}

.comment-container {
    padding: 1rem;
    border: $primary 1px solid;
    border-radius: 20px;
    // &--right {
    //     text-align: right;
    // }
    //
    // &--left {
    //     text-align: left;
    // }
}

.comment-info {
    display: flex;
}

// yana code

.comment-right {
        text-align: right;
        background-color: $blue;
}

.comment-left {
        text-align: left;
        background-color: white;
}

// yana code ends
