// yanas code

// Fonts for app
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&display=swap');

// colours for app

// dark grey for text and buttons
$gray-dark: #333333 !important;
$dark: #333333 !important;

// light grey for background colour and boarders
$gray: #cccccc !important;
$secondary: #cccccc !important;

// Light blue for boarders
$blue: #99cccc !important;
$info: #99cccc !important;

// For blue button background colour and category name colour
$cyan: #339999 !important;
$primary: #339999 !important;

// red for delete buttons
$red: #FF9966 !important;
$danger: #FF9966 !important;

//Light grey for photo background
$grey-light: #f5f9f8;


// SMACCS Set up
@import 'base';
@import 'variables';
@import 'mixins';
@import 'layout';
@import 'module';
@import 'state';
@import 'module';
@import 'theme';
@import 'portfolioPage';
//yanas code ends
@import 'landingPage';
@import 'viewMorePage';
